.active-chat{
	position: absolute !important;
	left: 0;
	top: -85px !important;
	right: 0;
	height: 88% !important;
	transition: all .3s;
}

.active-chat-button{
	padding: 1px 6px !important;
}
.coverTextarea{
	width: 60%;
	height: 60%;
	background-color: red;
	position: absolute;
	z-index: 100;
}
