.active-chat{
	position: absolute !important;
	left: 0;
	top: -85px !important;
	/* bottom: 40px; */
	right: 0;
	height: 90% !important;
}

.active-chat.openKeyboard{
	top: 165px !important;
	height: 61% !important;
	background-color: #ff0000;
}

.active-chat-button{
	padding: 1px 6px !important;
}
