.contact-form.bx.active-chat{
	position: absolute !important;
	left: 0;
	top: -85px !important;
	bottom: 40px;
	right: 0;
	height: 80% !important;
}

.openKeyboard{
	height: 60% !important;
	background-color: red;
}

.active-chat{
	overflow-y: scroll;
}

